<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="LazyTV Settings">

        <setting id="populate_by" type="bool" label="Use Smart Playlist to Filter Shows" default="false"/>
        <setting id="select_pl" type="enum" label="Playlist Selection Method" enable="eq(-1,true)" lvalues="32088|32078"/>
        <setting id="file" type="file" label="Select Playlist" enable="eq(-1,1) + eq(-2,true)" value="special://videoplaylists/"/>

        <setting type="lsep" label="Assign Primary Function"/>
        <setting id="primary_function" type="enum" label="" lvalues="32073|32072|32088"/>

        <setting type="lsep" label="Random playlist options"/>
        <setting id="length" label="32010" type="slider" enable="!eq(-2,0)" subsetting="true" default="5" range="1,1,20" option="int" />
        <setting id="multipleshows" type="bool" label="32011" enable="!eq(-3,0)" default="false"/>
        <setting id="premieres" type="bool" label="32012" enable="!eq(-4,0)" default="false"/>
        <setting id="resume_partials" type="bool" label="Begin partially watched episodes from their resume point" enable="!eq(-5,0)" default="false"/>
        <setting id="notify" type="bool" label="Display episode details when played" enable="!eq(-6,0)" default="true"/>

        <!--setting type="lsep" label="Show list options"/>
        <setting id="sort_list_by" type="enum" label="32079" enable="!eq(-8,1)" lvalues="32080|32081"/-->



        <setting id="first_run" type="bool" default="true" visible="false"/>
        <setting id="users_spl" type="text" visible="false" default='none'/>

    </category>
    <category label="Other Settings">
        <setting type="lsep" label="Service options"/>
        <setting id="nextprompt" type="bool" label="Tell me when the next episode is available" default="false"/>
        <setting id="promptduration" label="How long should the prompt be active(seconds)? [Gotham only]" type="slider" enable="eq(-1,1)" subsetting="true" default="5" range="1,1,20" option="int" />
    </category>
</settings>
